*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.justificado{
    justify-content: end;
}
.bg-Nav{
    background-color: #353a40;
}
.text-black{
    color: black;
}
.container-img-izq{
    width:50%;
}
.container-text-der{
    width:50%;
    background-color: #353a40;
    color:white;
    font-size: 1rem;
}
.tam{
    height: 70vh;
}

.col{
    padding: 1em;
}

.d-block{
    filter: brightness(50%);
}
.sectionPrincipal{
    background-image: linear-gradient(to right,rgb(0 0 0 /.5),rgb(0 0 0 /.5)), url("../assets/imagenes/ba1.jpg");
    height:100vh;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.contenidoPrincipal{
    width: 60%;
    text-align: right;
    color:white;
}
.contenidoPrincipal{
    height:100vh;
    width: 100%;
    display:inline-block;
    justify-content:flex-end;
    align-items:center;
}

.text-carousel{
    position: absolute;
    top: 45%;
    padding-right: 10%;
    padding-left: 50%;
    color: white;
    text-align: right;
}
.link-ticket{
    color: #299844;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link {
    color: #6e6961;
}
.btn-green{
    color: #fff;
    background-color: #29a744;
    border-color: #285829;
}
.btn-lightgreen{
    color:#fff;
    background-color: #96c93e;
    border-color: #bfde8a;
}
.footer{    
    background-color: #1f5270;
}
.links-footer{
    width: 80%;
    justify-content: space-between;
}
.text-der{
    font-size: 1rem;
}
.charla{
    text-decoration: underline;
}
.aclaracion{
    color:#8b9297;
}
.footer-link{
    color:#fff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}
.conf-link{
    color:#fff;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.tarjeta{
    margin: 0 0.5rem 0 0.5rem;
}
.w-65{
    width: 65%;
    
}
.column{
    width: 35%;
}
.forzar{width: 0%;
margin: 0;
padding: 0;}

@media screen and (max-width:768px){
    .justificado{
        justify-content: center;
    }
    .centrar-tel{
        justify-content: center;
    }
    
    .text-carousel{
        line-height:1.5rem;
        padding-right: 3%;
        padding-left: 3%;
        top:10%;
        text-align: center;
    }
    .titulo{
        font-size: 3rem;
    }
    .margen{
        margin: 5vh 0 5vh;
    }
    .ajuste-nav{
        padding-top:15% ;
    }
    .img-responsive{
        height:70vh;
        width: 100%
    }
    .container-img-izq{
        width:100%;
    }
    .container-text-der{
        width:100%;
        padding: 2rem ;
    }

    .links-footer{
        flex-direction: column;
        justify-content: center;
    }
    .footer-link{
        padding: 1vh 0 1vh;
    }
    .w-65{
        width: 65%;
        
    }
    .tarjeta{
        margin: 0.5rem 10px;
    }
}